# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/
runs/
dataset/

# Virtual environment
venv/
ENV/
